doctype html
html
    head
    body
        form(action="/auth/signup" method="post")
            p
                input(type="text", name="name" placeholder="name")
            p
                input(type="text", name="passwd" placeholder="passwd")
            p
                input(type="submit", value="signup")
